<div class="jumbo">
  <div class="right oso"></div>
  <h2>Seattle Dog Park Finder</h2>
  <p>
    Seattle Dog Park will bring up the best dog parts in the city and neighboring cities of Seattle. Visit this page. Your dog will thank you for it!
  </p>
  </div>

{{#link-to 'contact' class="button"}}
  Contact
{{/link-to}}
