<div class="jumbo">
  <div class="right oso"></div>
  <h2>Contact Us</h2>
  <p>
    Seattle Dog Park Finder would love your help in letting us know the best dog parks and why?
  </p>
  <p>
  <a href="=tel:503.555.1212">+1 (503) 555-1212</a><br>
  <a href="mailto:seattledogparks@gmail.com">seattledogparks@gmail.com</a>
  </p>
</div>
{{#link-to 'about' class="button"}}
  About
  {{/link-to}}
