<div class="jumbo">
  <div class="right oso"></div>
  <h2>Welcome</h2>
  <p>
    We hope you find the best place to bring your dog!
    {{#link-to 'about' class="button"}}
    About Us
    {{/link-to}}
  </p>
</div>

{{#list-filter
  filter=(action 'filterByCity')
  as |dogparks|}}
  <ul class="results">
    {{#each dogparks as |dogparkUnit|}}
      <li>{{dogpark-listing dogpark=dogparkUnit}}</li>
    {{/each}}
  </ul>
  {{/list-filter}}
