<div class="jumbo">
  <div class="right oso"></div>
  <h2>Welcome</h2>
  <p>
    We hope you find the best place to bring your dog!
    {{#link-to 'about' class="button"}}
    About Us
    {{/link-to}}
  </p>
</div>

{{#each model as |dogpark|}}
  <article class="listing">
    <h3>{{dogpark.title}}</h3>
    <div class="detail location">
      <span>Location:</span>{{dogpark.city}}
    </div>
  </article>
{{/each}}
